@font-face {
  font-family: "Seagram";
  src: url("resources/Seagram_tfb.ttf");
}

body {
  margin: 0;
  font-family: "Seagram";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Seagram";
}
